<!DOCTYPE html>
<html lang="en">
 
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>Internship Test</title>
    
    </head>
            
    <body> 
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Fede's</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/gallery">Gallery</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/pricing">Pricing</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
              </ul>
            </div>
          </nav>
        
        <h1> Internship Hennge Web, Creation Exercise by Fede</h1>  
        <p>This is an exercise to learn how to create and delpoy a web app using Google Cloud</p>
        <h3>This is an image of a nice place in Colombia: </h3>
        <img src = "static/images/rio_arcoirirs.jpeg" alt = "This is supposed to be an image" width=700 height=394/><br> 
         <br>
        
         <button type="button" onclick="alert('This place is called Caño Cristales. Different plants grow on the river, giving it this unusual pigmentation')">More Info!</button>
         <br>
         <p>For more information you can visit <a href="https://www.aviatur.com/blog/experiencias/cano-cristales-rio-mas-lindo-del-mundo">This Website</a>
         </p>
         
         
         <script
         src="https://code.jquery.com/jquery-3.4.1.js"
         integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
         crossorigin="anonymous"></script>
         <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
     
    </body>
    
</html>
